* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.App {
  margin: 10px 10px auto;
  min-height: 100vh; }

body {
  background-image: linear-gradient(to right bottom, #59576b, #23222c);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.9rem;
  line-height: 1.6; }

.dashboard__content {
  display: flex; }

.dashboard__sidebar {
  flex: 0 0 260px; }

.dashboard__pannel {
  flex: 1;
  min-width: 820px;
  border-color: 3px solid black; }

.nav {
  box-shadow: inherit; }

.dashboard__header {
  height: 6.4rem; }
