* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to right bottom, #2c2f3e, #23222c);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.9rem;
  line-height: 1.6;
  min-height: 100vh; }

svg {
  fill: rgba(255, 255, 255, 0.7); }

.card-panel {
  background-color: transparent;
  box-shadow: 0 2px 2px 0 #757575, 0 1px 5px 0 rgba(0, 0, 0, 0.87), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.dashboard__content {
  display: flex;
  margin-top: 0; }

.dashboard__sidebar {
  flex: 0 0 260px; }

.dashboard__panel {
  flex: 1 1;
  min-width: 820px;
  color: #ff0000ba;
  background-color: white;
  margin-top: 109px;
  margin-left: 251px; }

a:hover {
  color: #53b3e2; }

#header__search-userinfo-sign {
  display: flex;
  justify-content: space-between;
  width: 100%; }

#header__userinfo {
  display: flex;
  margin: 0 26px;
  color: #ccccd1; }

#header__userinfo div {
  padding-left: 10px;
  align-self: center; }

#header__userinfo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px #ccccd1 solid; }

#header__search-bar {
  flex-grow: 1;
  max-width: 773px; }

#header__sign-in {
  align-self: center;
  margin-right: 30px; }

.dashboard__header {
  height: 6.4rem;
  display: flex;
  padding-top: 15px;
  margin-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 2; }

.header__logo {
  width: 19.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 20vw; }

.header__logo-icon {
  width: 93%;
  height: 10rem; }

.header__search {
  max-width: 767px;
  width: 60.5%;
  display: flex; }

.header__search-form {
  display: flex; }

.header__search-icon {
  width: 5rem;
  height: 4rem; }

.header__search-input {
  font-size: 3rem !important;
  border-bottom: 2px solid #9e9e9e !important; }
  .header__search-input:focus {
    border-bottom: 2px solid #f1f1f1 !important;
    box-shadow: 0 1px 0 0 #f1f1f1 !important; }

.header__search-button {
  width: 50px;
  border: none;
  background-color: transparent; }
  .header__search-button:focus {
    background-color: transparent !important; }

.header__sign_out {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  cursor: pointer;
  margin-right: 30px;
  border: 2px #039be5 solid;
  padding: 2px 10px;
  border-radius: 30px;
  color: #039be5; }

.header__sign_out:hover {
  color: #53b3e2;
  border: 2px #53b3e2 solid; }

.header__config-button {
  width: 60px;
  background: white; }

.header__search-icon:hover {
  fill: white; }

.repository__item,
.pullrequest__item {
  color: #2c2f3e;
  text-decoration: none; }
  .repository__item:hover,
  .pullrequest__item:hover {
    transition: color 0.7s;
    background-color: #efefef; }

.dashboard__repository__list,
.dashboard__pullrequest__list {
  overflow: scroll;
  list-style: none;
  padding-right: 0;
  background-color: snow; }

.repository__item,
.pullrequest__item {
  padding: 0px;
  height: 115px;
  padding-top: 20px; }

.repository__item,
.pullrequest__item {
  padding-top: 0;
  margin-bottom: 20px;
  height: 100%; }

.repository__item-content,
.pullrequest__item-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border-right: 1px solid #00000033;
  box-shadow: rgba(0, 0, 0, 0.12) 4px 3px 9px, rgba(0, 0, 0, 0.12) 0px 1px 4px; }

.repository__item-content-text,
.pullrequest__item-content-text {
  padding-left: 25px;
  color: black;
  font-weight: 500;
  width: 90%;
  display: flex;
  height: 100px;
  flex-wrap: wrap; }

.pullrequest__item-content-text {
  width: 95%; }

.repository__item__name__icon {
  display: flex;
  align-items: center; }

.repository__item__name__text,
.pullrequest__item__name__text,
.pullrequest__item__name__repo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 20px;
  flex: 1 80%; }

.repository__item-content-toggle {
  padding-top: 5px; }

.repository__item__content__extras,
.pullrequest__item__content__extras {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f4f6;
  margin: 0;
  min-height: 60px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 33px;
  align-items: center; }

.repository__item__description {
  width: 49.5%;
  align-self: center;
  margin-top: -5px; }

.repository__item__description__text {
  color: #2c2f3ed6;
  font-size: 17px;
  padding: 10px 0;
  line-height: 1.5; }

.repository__item__tech {
  width: 13%;
  margin-left: 10px;
  align-self: center;
  height: 40px; }

.repository__item__pull__num {
  background-color: #5c6bc070;
  height: 33px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  width: 10%;
  margin: 0 7px;
  align-self: center; }

.repository__item__pull__num_0 {
  background-color: #5c6bc070;
  opacity: 0;
  height: 33px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  width: 10%;
  margin: 0 7px;
  align-self: center; }

.repository__item__pull__num__value {
  color: white; }

.repository__item__privacy__status {
  width: 12%;
  align-self: center;
  display: flex; }

.repository__item__privacy__icon {
  width: 7rem;
  height: 32px;
  fill: white;
  background-color: #ef5350bf;
  border-radius: 100px; }

.repository__item__color__picker {
  display: flex;
  width: 19%;
  justify-content: flex-end;
  padding-top: 9.45px; }

h4.dashboard__repository__title,
h4.dashboard__pullrequest__title {
  font-size: 3.28rem; }

.repository__extra__info__arrow {
  display: flex;
  justify-content: center;
  align-items: center; }

.repository__extra__info__arrow__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff; }

.repository__item__color__picker {
  display: flex;
  width: 10%;
  justify-content: center;
  padding-top: 5.45px; }

.pullrequest__item__name__repo {
  font-size: 14px;
  display: flex;
  flex: 1 100%; }

button.repository__item__color__picker__button {
  width: 20px;
  height: 20px;
  border-radius: 100px; }

.pullrequest__item__content__extras-created,
.pullrequest__item__content__extras-updated,
.pullrequest__item__content__extras-state,
.pullrequest__item__content__extras-comments {
  width: 25%; }

.pullrequest__item__owner-picture {
  padding-top: 10px;
  justify-content: flex-end; }

.pullrequest__item__owner-picture > img {
  border-radius: 50%;
  border: 2px #ccccd1 solid;
  width: 50px;
  height: 50px; }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

.pullrequest__item__breathing {
  background: linear-gradient(270deg, #e1eec3, #e28a8c);
  background-size: 400% 400%;
  -webkit-animation: pure 6s ease infinite;
  -moz-animation: pure 6s ease infinite;
  animation: pure 6s ease infinite; }

@-webkit-keyframes pure {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes pure {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes pure {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.dashboard__sidebar {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 18.55vw;
  position: fixed;
  margin-left: 100px;
  margin-top: 139px; }

.sidebar__icon-repositories, .sidebar__icon-pullrequests {
  width: 5rem;
  height: 5rem; }

.sidebar__navigation-repositories {
  margin: 40px auto;
  margin-top: 0; }

.sidebar__navigation-pullrequests {
  margin: 40px auto; }

.sidebar__icon-pullrequests:hover {
  fill: white; }

.sidebar__icon-repositories:hover {
  fill: white; }

li.sidebar__navigation-repositories {
  display: flex;
  width: 100%; }

li.sidebar__navigation-pullrequests {
  display: flex;
  flex-direction: row-reverse;
  width: 100%; }

.container-landing {
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex; }

.cls-11 {
  font-size: 150px;
  font-family: Rokkitt-Regular, Rokkitt, serif;
  letter-spacing: -0.02em; }

.cls-22 {
  font-size: 70px;
  font-family: Rokkitt-Light, Rokkitt, serif;
  letter-spacing: -0.01em; }

.cls-1 {
  font-size: 80px;
  font-family: Rokkitt-Light, Rokkitt, serif; }

.cls-2 {
  font-family: Rokkitt-Light, Rokkitt, serif; }

.h-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px; }

.v-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.github-button {
  width: 280px; }

.welcome-message {
  display: flex;
  align-content: center; }

a {
  color: black; }

a:hover {
  color: black; }

.go-back {
  color: #b3b3b3; }
