
////////////////////////////////////
// COLOR PALETTE

$color-primary-grey-lighter: #736b8a; 
$color-primary-grey-light: #59576b; 
$color-primary-grey-dark: #23222c; 
$color-text-grey: #6a687c; 

$color-purple-dark: #7c3afd; 
$color-purple-light: #a76cff; 

$color-green-light-primary: #0bd8be; 
$color-green-light-darker: #23a987; 

$color-primary-yellow-light: #f3d821; 
$color-primary-yellow-dark: #9a8426; 

$color-primary-pink: #f62c8a; 

$color-primary-orange-lighter: #fd8557; 
$color-primary-orange-light: #fa884e; 

* {
	margin: 0; 
	padding: 0; 
}

html {
	box-sizing: border-box; 
	font-size: 62.5%; 

}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

.App {
    margin: 10px 10px auto;
    min-height: 100vh;
}

body {
	background-image: linear-gradient(to right bottom, $color-primary-grey-light, $color-primary-grey-dark); 
	background-size: cover; 
	background-repeat: no-repeat;

	color:white;
	font-size: 1.9rem;
	line-height: 1.6; 
}





















