
.dashboard__repository__list {
	background-color: rgba(0, 0, 0, 0.46);
    padding: 5rem 2rem;
    padding-top: 0px;
    height: 65vh;
    width: 650px;
    overflow: scroll;
    border: 1px solid rgba(0,0,0,0.05);
    list-style:none;
    padding-right: 0;
    box-shadow: 2px 4px 1px -1px rgba(38, 39, 38, 0.52);
}

.repository__item {
	padding: 0px;
    height: 115px;
    padding-top: 20px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);; 
	}
}

.repository__item {
    height: 140px;
    padding-top: 30px;
}

.repository__item-content {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.repository__item-content-text {
    width: 90%;
}

.repository__item-content-text {
    padding-left: 25px;
}



h4.dashboard__repository__title {
    width: 650px;

    font-family: 'Lobster', cursive;
    font-size: 4.28rem;
}


.repository__item__content__extras {
    width: 100%;
    margin-left: 21px;
    display: flex;
    margin-right: 21px;
}

.repository__item__tech {
    width: 80%;
}

.repository__item__color__picker {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

button.repository__item__color__picker__button {
    width: 4vw;
    height: 4vw;
    border-radius: 100px;
}











