
.dashboard__repository__list {
    overflow: scroll;
    list-style:none;
    padding-right: 0;
    box-shadow: 2px 4px 1px -1px rgba(38, 39, 38, 0.52);
    background-color: snow;
}

.repository__item {
	padding: 0px;
    height: 115px;
    padding-top: 20px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);; 
	}
}

.repository__item {
    height: 140px;
    padding-top: 0;
    background-color: white;
    margin-bottom: 20px;
}

.repository__item-content {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.repository__item-content-text {
    padding-left: 25px;
    border-left: 6px solid #0bd8be;
    background-color: white;
    color: black;
    font-weight: 500;
    width: 90%;
}

.repository__item-content-toggle {
    background-color: white;
    padding-top: 5px;
}


h4.dashboard__repository__title {
    font-size: 3.28rem;
}


.repository__item__content__extras {
    width: 100%;
    display: flex;
    background-color: #f3f4f6;
    margin: 0;
}


.repository__item__tech {
    padding-left: 17px;
    width: 90%;
    border-left: 6px solid #0bd8be;
}

.repository__item__color__picker {
    display: flex;
    width: 10%;
    justify-content: center;
    padding-top: 5.45px;
}

button.repository__item__color__picker__button {
    width: 20px;
    height: 20px;
    border-radius: 100px;
}











