


.dashboard__header {
    height: 6.4rem;
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

.logo {
    flex: 0 0 18.5%;
}

.dashboard__header__search {
    width: 30rem;
    background-color: inherit;
    border: none;
    outline: none;
    height: 3rem;
    flex: 0 0 50%;
}

.dashboard__header__search__icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
}

.dashboard__header__search__button {
    position: fixed;
    padding: 17px;
    background: transparent;
    border: none;
}

.dashboard__header__button {
    width: 60px;
    background-color: #0bd8be;
    border: none;
}



	




