
#header__search-userinfo-sign {
    display:flex;
    width:100%;
}

#header__userinfo {
    display:flex;
    margin: 0 26px;
    color: #ccccd1;
}

#header__search-bar {
    flex-grow: 1;
    max-width: 773px;
}

.dashboard__header {
    height: 6.4rem;
    display: flex;
    padding-top: 15px;
    margin-top: 15px;
}

.header__logo {
    width: 19.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 20vw;
    //vw & vh + width % (is correct) can work together
}

.header__logo-icon {
    width: 93%;
    height: 10rem;
}

.header__search {
    max-width: 767px;
    width: 60.5%;
    display: flex;

}

.header__search-form {
    // width: 80%;
    display: flex;
}
.header__search-icon {
    width: 5rem;
    height: 4rem;
}

.header__search-input {
    font-size: 3rem !important;
    border-bottom: 2px solid #9e9e9e !important;
    &:focus {
        border-bottom: 2px solid #0bd8be !important;
        box-shadow: 0 1px 0 0 #0bd8be !important;
    }
}

.header__search-button {
    width: 50px;
    border: none;
    background-color: transparent;
    &:focus {
        background-color: transparent !important;
    }
}

.header__sign_out {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    cursor: pointer;
    margin-right:30px;
}

.header__config-button {
    width: 60px;
    background: white;
}









