


.dashboard__header {
    height: 6.4rem;
    display: flex;
    padding-top: 15px;
    margin-top: 15px;

}

.dashboard__logo {
    width: 10rem; 
    height: 10rem; 
}

.dashboard__header__search {
    width: 30rem;
    background-color: inherit;
    border: none;
    outline: none;
    height: 3rem;
    flex: 0 0 60%;
    min-width: 718px;
}

.dashboard__header__search__icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
}

.dashboard__header__search__button {
    position: fixed;
    padding: 17px;
    background: transparent;
    border: none;

    &:focus {
        background-color: transparent !important;
    }
}

.dashboard__header__button {
    width: 60px;
    background-color: #0bd8be;
    border: none;
}

.dashboard__header__search__input {
    //other way?
    font-size: 3rem !important;
    border-bottom: 2px solid #9e9e9e !important;

    &:focus {
        border-bottom: 2px solid #0bd8be !important;
        box-shadow: 0 1px 0 0 #0bd8be !important;
    }
}

.left-items {
    align-self: center;
    margin-left: 82px;
}

.central-right-items {
    display: flex;
    flex: 1;
}



	




