


.dashboard__content {
	display: flex;
	margin-top: 0;
}

.dashboard__sidebar {
    flex: 0 0 260px;
}

.dashboard__panel {
    flex: 1 1;
    min-width: 820px;
    color: #ff0000ba;
    background-color: white;
    margin-top: 109px;
    margin-left:251px;

}















