
.dashboard__sidebar {
   	margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 18.55vw;
    position:fixed;
    margin-left: 100px;
    margin-top: 139px;
}

.sidebar__icon-repositories, .sidebar__icon-pullrequests {
	width: 5rem;
	height: 5rem;
}

.sidebar__navigation-repositories {
    margin: 40px auto;
    margin-top: 0;
}

.sidebar__navigation-pullrequests {
    margin: 40px auto;
}

.sidebar__icon-pullrequests:hover {
    fill:white;
}

.sidebar__icon-repositories:hover {
    fill:white;
}

li.sidebar__navigation-repositories {
    display: flex;
    width: 100%;
}

li.sidebar__navigation-pullrequests {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}








