.container-landing {
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.cls-11 {
  font-size:150px;
  font-family: Rokkitt-Regular, Rokkitt, serif;
  letter-spacing:-0.02em;
}

.cls-22 {font-size:70px;
  font-family: Rokkitt-Light, Rokkitt, serif;
  letter-spacing:-0.01em;
}

.cls-1 {
  font-size: 80px;
  font-family: Rokkitt-Light, Rokkitt, serif;
}

.cls-2 {
  font-family: Rokkitt-Light, Rokkitt, serif;
}

.h-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px;
}

.v-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github-button {
  width: 280px;
}

.welcome-message {
  display: flex;
  align-content: center;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.go-back {
  color: rgb(179, 179, 179);
}